@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>

<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contact Information</h5>
                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr> 425.555.0100
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>

            <div class="col-md-6">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a href="#" class="btn btn-outline-light mr-2"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="btn btn-outline-light mr-2"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="btn btn-outline-light mr-2"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="btn btn-outline-light mr-2"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
