@using OnlineShoppingManagement.Models;

@{
    ViewBag.Title = "Contact Details";

}

<h2>Contact Details</h2>

<div class="row">
    <div class="col-md-9">
        @Html.Partial("_ContactDetails", new OnlineShoppingManagement.Models.Cart())
    </div>
</div>
