
<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.7;
            color: #c4c3ca;
            background-color: white;
            overflow-x: hidden;
        }

        a {
            cursor: pointer;
            transition: all 200ms linear;
        }

            a:hover {
                text-decoration: none;
            }

        .link {
            color: #c4c3ca;
        }

            .link:hover {
                color: #ffeba7;
            }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.7;
        }
        /*SignIn tag----------*/
        h4 {
            font-weight: 600;
        }

        h6 span {
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .section {
            position: relative;
            width: 100%;
            display: block;
        }

        .full-height {
            min-height: 100vh;
        }

        [type="checkbox"]:checked,
        [type="checkbox"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        /*upper thick line with sphere*/
        .checkbox1:checked + label,
        .checkbox1:not(:checked) + label {
            position: relative;
            display: block;
            text-align: center;
            width: 60px;
            height: 16px;
            border-radius: 8px;
            padding: 0;
            margin: -10px auto -10px 570px;
            cursor: pointer;
            background-color: #ffeba7;
        }
            /*center sphere*/
            .checkbox1:checked + label:before,
            .checkbox1:not(:checked) + label:before {
                position: absolute;
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                color: #ffeba7;
                background-color: #102770;
                font-family: 'unicons';
                content: '\eb4f';
                z-index: 20;
                top: -10px;
                left: 10px;
                line-height: 36px;
                text-align: center;
                font-size: 24px;
                transition: all 0.5s ease;
            }

            .checkbox1:checked + label:before {
                transform: translateX(44px) rotate(-270deg);
            }


        .card-3d-wrap {
            position: relative;
            width: 440px;
            max-width: 100%;
            height: 450px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            perspective: 800px;
            margin-top: 20px; /*margin between button and login box*/
        }

        .card-3d-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: -10px; /*margin between button and login box*/
            left: 50px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transition: all 600ms ease-out;
        }

        .card-front, .card-back {
            width: 100%;
            height: 100%;
            background-color: #2a2b38;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 300%;
            position: absolute;
            border-radius: 6px;
            left: 0;
            top: 0;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .card-back {
            transform: rotateY(180deg);
        }

        .checkbox1:checked ~ .card-3d-wrap .card-3d-wrapper {
            transform: rotateY(180deg);
        }

        .center-wrap {
            position: absolute;
            width: 100%;
            padding: 0 35px;
            top: 50%; /*Signup tag spacing from top*/
            left: 0;
            transform: translate3d(0, -50%, 35px) perspective(100px);
            z-index: 20;
            display: block;
        }


        .form-group {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
        }

        .form-style {
            padding: 13px 20px;
            padding-left: 55px;
            height: 38px;
            width: 100%;
            font-weight: 500;
            border-radius: 4px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.5px;
            outline: none;
            color: #c4c3ca;
            background-color: #1f2029;
            border: none;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
            box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
        }

            .form-style:focus,
            .form-style:active {
                border: none;
                outline: none;
                box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
            }

        /*Space between top and box*/
        .input-icon {
            position: absolute;
            top: 100px;
            left: 18px;
            height: 48px;
            font-size: 24px;
            line-height: 48px;
            text-align: left;
            color: #ffeba7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:-ms-input-placeholder {
            color: #c4c3ca;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input::-moz-placeholder {
            color: #c4c3ca;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:-moz-placeholder {
            color: #c4c3ca;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input::-webkit-input-placeholder {
            color: #c4c3ca;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:focus:-ms-input-placeholder {
            opacity: 0;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:focus::-moz-placeholder {
            opacity: 0;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:focus:-moz-placeholder {
            opacity: 0;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:focus::-webkit-input-placeholder {
            opacity: 0;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .btn1 {
            border-radius: 4px;
            height: 44px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
            padding: 0 30px;
            letter-spacing: 1px;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            text-align: center;
            border: none;
            background-color: #ffeba7;
            color: #102770;
            box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
        }

            .btn1:active,
            .btn1:focus {
                background-color: #102770;
                color: #ffeba7;
                box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
            }

            .btn1:hover {
                background-color: #102770;
                color: #ffeba7;
                box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
            }

        .logo {
            position: absolute;
            top: 30px;
            right: 30px;
            display: block;
            z-index: 100;
            transition: all 250ms linear;
        }

            .logo img {
                height: 26px;
                width: auto;
                display: block;
            }

        .log-sign-desk-wrap.lgs-section {
            background-image: linear-gradient(0deg, rgb(255, 244, 196), rgb(255, 255, 255));
            max-height: 1300px;
        }

            .log-sign-desk-wrap.lgs-section:last-child {
                background: rgb(255, 255, 255) !important;
            }

        .lgs-section.img {
            width: 100px;
        }
    </style>
    <link rel="stylesheet" href="style.css">

    <!-- font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    @{
        var failedMsg = TempData["RegisterMsg"];

        <center><p style="color:#e11010;font-size:16px;margin-left:60px;font-weight:bold">@failedMsg</p></center>

    }
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <input class="checkbox1" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <form class="center-wrap" method="post" id="loginForm">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>

                                            <div class="form-group">
                                                <input type="text" name="Username" class="form-style" placeholder="Your User Name" id="usernames" autocomplete="off" required>
                                                <div id="usercheck" style="color:#ffeba7;font-size:12px"></div>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" name="Email" class="form-style" placeholder="Your Email" id="email" autocomplete="off" required>
                                                <div id="emailcheck" style="color: #ffeba7; font-size: 12px"></div>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="Password" class="form-style" placeholder="Your Password" id="password" autocomplete="off" required>
                                                <div id="passcheck" style="color: #ffeba7; font-size: 12px "></div>
                                            </div>

                                            <div class="form-group mt-2">
                                                <!-- Hidden input to store the constant value for Role -->
                                                <input type="hidden" name="Role" value="1" />

                                                <!-- Visible input for displaying the Role in the form (optional) -->
                                                @*<input type="text" class="form-style" placeholder="Your Role" value="Customer" disabled />*@

                                            </div>

                                            <div>
                                                <a href="@Url.Action("LogInUser","User")">
                                                    <input class="btn1 mt-4" type="submit" value="Submit" id="submitButton" />
                                                </a>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="card-back" method="post">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <p>Thank you for choosing us!!</p>
                                                <p>Happy Shopping :)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*---------------------------JQuery Validations for SignUp page-------------------------------*@

    <script>
        $(document).ready(function () {
            $("#usercheck").hide();
            $("#emailcheck").hide();
            $("#passcheck").hide();
            /* $("#rolecheck").hide();*/

            let usernameError = true;
            let emailError = true;
            let passwordError = true;
            /* let roleError = true;*/

            $("#usernames").keyup(function () {
                validateUsername();
            });

            $("#email").blur(function () {
                validateEmail();
            });

            $("#password").keyup(function () {
                validatePassword();
            });


            //$("#role").blur(function () {
            //    validateRole();
            //});

            function validateUsername() {
                let usernameValue = $("#usernames").val();
                if (usernameValue.length == "") {
                    $("#usercheck").show();
                    $("#usercheck").html("Please enter your Full Name");
                    usernameError = false;
                } else if (usernameValue.length < 3 || usernameValue.length > 25) {
                    $("#usercheck").show();
                    $("#usercheck").html("Length of username must be between 3 and 15");
                    usernameError = false;
                } else {
                    $("#usercheck").hide();
                    usernameError = true;
                }
            }

            function validateEmail() {
                let emailValue = $("#email").val();

                if ($.trim(emailValue) === "") {
                    $("#emailcheck").show();
                    $("#emailcheck").html("Please enter your email address");
                    emailError = false;
                } else {
                    $("#emailcheck").hide();
                    emailError = true;
                }
            }

            function validatePassword() {
                let passwordValue = $("#password").val();
                if (passwordValue.length == "") {
                    $("#passcheck").show();
                    $("#passcheck").html("Please enter your password");
                    passwordError = false;
                } else if (passwordValue.length < 3 || passwordValue.length > 15) {
                    $("#passcheck").show();
                    $("#passcheck").html("Length of your password must be between 3 and 15");
                    passwordError = false;
                } else {
                    $("#passcheck").hide();
                    passwordError = true;
                }
            }


            $("#submitbtn").click(function () {
                validateUsername();
                validateEmail();
                validatePassword();
                validateRole();

                if (usernameError && emailError && passwordError && roleError) {
                    return true; // Submit the form
                } else {
                    return false; // Prevent form submission
                }



            })
        })
    </script>

    @*It will prevent the submission be creating an alert message*@

    @*<script>
            // Wait for the document to be ready
            $(document).ready(function () {
                // Handle the click event of the submit button
                $('#submitButton').click(function (e) {
                    e.preventDefault(); // Prevent the default form submission

                    // Display the popup alert
                    alert('Form submitted successfully!');
                });
            });
        </script>*@

    @*It will create an alert when u go for clicking submit button and then procced with the form submission*@

</body>
</html>

